<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="content">
    <header>
        <div id="user">
            <img src="../../static/img/student1.png" alt="avatar" >
        </div>
        <div class="info">
            <div class="info-center">
                <h1>Hello {{userName}}</h1>
            </div>
            <div class="info-top">
                <ul class="describe_item">
                    <li><p id="money">{{currentMoney}}</p></li>
                    <li><img src="../../static/img/coin.png" alt="coin"></li>
                    <li><p id="experience">{{totalMoney}}</p></li>
                    <li><img src="../../static/img/progress.png" alt="progress"></li>
                    <li><a href="login"><img src="../../static/img/out.png" alt="logout" title="Log out"></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bar-content-block">
        <div class="bar">
            <ul class="menu">
                <li class="menu-item"><a href="/student" class="selected">Inventory</a></li>
                <li class="menu-item"><a href="/store">Store</a></li>
                <li class="menu-item"><a href="/incubator">Incubator</a></li>
                <li class="menu-item"><a href="/quests">Quests</a></li>
                <li class="menu-item"><a href="/transaction_history">Transaction</a></li>
            </ul>
        </div>
        <div class="content-block">
            <h1>Your artifacts</h1>
            <table class="show-mentors">
                <thead>
                <tr>
                    <th>Artifact</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Is group</th>
                    
                </tr>
                </thead>
                <tbody>
                {% for artifact in studentInventory %}
                <tr>
                    <td>{{artifact.getArtifactName}}</td>
                    <td>{{artifact.getArtifactDescription}}</td>
                    <td>{{artifact.getArtifactQuantity}}</td>
                    {% if artifact.getArtifactCategory=='basic' %}
                        <td style:center>&#9746;</td>
                    {% elseif artifact.getArtifactCategory=='magic' %}
                        <td>&#9745;</td>
                    {% endif %}

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
    <p>MADD crew Production</p>
</footer>
</body>
</html>