<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="../../static/js/incubator.js"></script>
</head>
<body>
<div class="content">
    <header>
        <div id="user">
            <img src="../../static/img/user2.png" alt="avatar" >
        </div>
        <div class="info">
            <div class="info-center">
                <h1>Hello Ania</h1>
            </div>
            <div class="info-top">
                <ul class="describe_item">
                    <li><p id="money">{{money}}</p></li>
                    <li><img src="../../static/img/coin.png" alt="coin"></li>
                    <li><p id="experience">{{totalmoney}}</p></li>
                    <li><img src="../../static/img/progress.png" alt="progress"></li>
                    <li><a href="login"><img src="../../static/img/out.png" alt="logout"></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bar-content-block">
        <div class="bar">
            <ul class="menu">
                <li class="menu-item"><a href="student/codecooler/{{student.getId}}">Inventory</a></li>
                <li class="menu-item"><a href="student/store">Store</a></li>
                <li class="menu-item"><a href="student/incubator" class="selected">Incubator</a></li>
                <li class="menu-item"><a href="student/quests">Quests</a></li>
                <li class="menu-item"><a href="student/transactionhistory/{{student.getId}}">Transaction</a></li>
            </ul>
        </div>
        <div class="content-block">
            <h1>Group artefacts</h1>
            <table class="show-mentors">
                <thead>
                <tr>
                    <th>Artefact</th>
                    <th>Overall price</th>
                    <th>To price</th>
                    <th>Group size</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                {% for artifact in ArtifactList %}
                <tr>
                    <td class="artifact-name">{{artifact.getName}}</td>
                    <td class="artifact-name">{{artifact.getDescription}}</td>
                    <td class="to-price">{{artifact.getPrice}}</td>
                    <td class="artifact-name">{{artifact.getMoney}}</td>
                    <td class="artifact-name">{{artifact.getGroupSize}}</td>
                    <form class="save-changes-button" onsubmit="return false">
                        <td><button class="accept-button" type="button" onclick="addModal()">JOIN</button></td>
                    </form>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ==========Modal===================================-->
<div id="modalWindow" class="modal-window">
    <div class="modal-content">
        <span class="close" onclick="removeModal()">&times;</span>
        <p>Changes were submitted!</p>
    </div>

</div>
<footer>
    <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
    <p>MADD crew Production</p>
</footer>
</body>
</html>