<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
<div class="content">
    <header>
        <div id="user">
            <a href="/mentor"><img src="../../static/img/mentor1.png" alt="avatar"></a>
        </div>
        <div class="info">
            <div class="info-center">
                <h1>Hello {{userName}}</h1>
            </div>
            <div class="info-top">
                <a href="login"><img src="../../static/img/out.png" alt="logout" title="Log out"></a>
            </div>
        </div>
    </header>
    <div class="bar-content-block">
    <div class="bar">
        <ul class="menu">
            <li class="menu-item"><a href="/mentor" class="selected">students</a></li>
            <li class="menu-item"><a href="/quests">quests</a></li>
            <li class="menu-item"><a href="/artifacts">artifacts</a></li>
        </ul>
    </div>
    <div class="content-block">
        <h1>Students</h1>
        <table class="show-mentors">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Class</th>
                <th>Level</th>
                <th>Coins</th>
                <th>Wallet</th>
                <th>Edit student</th>
                <th>Approve quest</th>
                <th>Approve artifact</th>
            </tr>
            </thead>
            <tbody>
            {% for student in studentsList %}

            <tr>
                <td>{{student.getFirstName}}</td>
                <td>{{student.getLastName}}</td>

                <td>{{coolClassMap.get(student.getStudentIdClass)}}</td>

                <td>{{student.getTotalMoney}}</td>
                <td>{{student.getCurrentMoney}}</td>
                <td><a href="show_wallet/{{student.getStudentId}}">Show</a></td>
                <td><a href="edit_student/{{student.getStudentId}}">Edit</a></td>
                <td><a href="mentor-student-quests">Approve</a></td>
                <td><a href="mentor-student-artifacts">Approve</a></td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
        <div class="save-changes-button">
            <a href="create_student">Add student</a>
        </div>
    </div>
    </div>
</div>
<footer>
    <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
    <p>MADD crew Production</p>
</footer>
</body>
</html>